:root {
    --primary-text-color: #757575;
    --secondary-text-color: #212121;
    --primary-color: #FFFFFF;
    --secondary-color: #2196F3;
    --primary-bgc: #2F303A;
    --secondary-bgc: #F5F4FA;
}

body {
        font-family: 'Roboto', sans-serif;
        font-size: 14px;
        line-height: 1.7;
        letter-spacing: 0.03em;
        color: var(--primary-text-color);
        background-color: var(--primary-color);
}

ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

a {
    text-decoration: none;
}

h1, h2, h3, p {
        margin: 0;
}

.container {
        width: 1200px;
        margin: 0 auto;
        padding: 0 15px;
}

/* Стили шапки */

.logo {
        margin-right: 50px;

        color: var(--secondary-color);

        font-family: 'Raleway';
        font-weight: 700;
        font-size: 26px;
        line-height: 1.19;
}

.logo-end {
        color: #000000;
}

.page-nav {
        display: flex;
        align-items: center;
}

.nav-links {
        display: flex;
}

.nav-links .link {
        display: block;
        padding-top: 32px;
        padding-bottom: 32px;

        color: var(--secondary-text-color);

        font-weight: 500;
        line-height: 1.14;
        letter-spacing: 0.02em;
        
}

.nav-links .link:hover,
.nav-links .link:focus,
.nav-links .link.link-active {
        color: var(--secondary-color);
}

.nav-links .item + .item {
        margin-left: 50px;
}

.contacts {
        display: flex;
}

.contacts .link {
        display: block;
        padding-top: 32px;
        padding-bottom: 32px;

        color: var(--primary-text-color);

        font-weight: 500;
        line-height: 1.14;
        letter-spacing: 0.02em;
}

.contacts .link:hover,
.contacts .link:focus {
        color: var(--secondary-color);
}

.contacts .item + .item {
        margin-left: 50px;
}

.header-cont {
        display: flex;
        justify-content: space-between;
}

.page-header {
        border: 1px solid #ECECEC;
}

/* Стили героя */

.hero {
        text-align: center;

        background-color: var(--primary-bgc);
}

.hero-title {
        padding-top: 200px;
        margin-bottom: 30px;

        color: var(--primary-color);

        font-weight: 900;
        font-size: 44px;
        line-height: 1.36;
        letter-spacing: 0.06em;
        text-transform: uppercase;
}

.btn-order {
        margin-bottom: 200px;

        width: 200px;
        height: 50px;
        font-weight: 700;
        font-size: 16px;
        line-height: 1.88;
        
        text-align: center;
        letter-spacing: 0.06em;
        color: var(--primary-color);
        background-color: var(--secondary-color);
        cursor: pointer;
}

.btn-order:hover, .btn-order:focus {
        background-color: #188CE8;
}

/* Стили особенностей работы */

.visually-hidden {
        position: absolute;
        width: 1px;
        height: 1px;
        margin: -1px;
        border: 0;
        padding: 0;
        white-space: nowrap;
        clip-path: inset(100%);
        clip: rect(0 0 0 0);
        overflow: hidden;
}

.feature {
        display: flex;
        margin: 94px 0;
}

.feature .feature-card + .feature-card {
        margin-left: 30px;
}

.feature-card {
        text-align: left;
}

.feature-title {
        margin-bottom: 10px;

        color: var(--secondary-text-color);

        font-weight: 700;
        font-size: 14px;
        line-height: 1.14;
        text-transform: uppercase;
}

.title {
        margin-bottom: 50px;

        color: var(--secondary-text-color);

        font-weight: 700;
        font-size: 36px;
        line-height: 1.17;
        text-align: center;
}

/* Стили деятельности */

.activity {
        display: flex;
        margin-bottom: 94px;
}

.activity .item + .item {
        margin-left: 30px;
}

/* Стили команды */

.team-title {
        padding-top: 94px;
}

.our-team {
        background-color: var(--secondary-bgc);
}

.team {
        display: flex;
        padding-bottom: 94px;
}

.team .team-card + .team-card {
        margin-left: 30px;
}

.name {
        margin: 30px 0 10px 0;

        color: var(--secondary-text-color);

        font-weight: 500;
        font-size: 16px;
        line-height: 1.19;
        text-align: center;
}

.position {
        margin-bottom: 30px;

        font-size: 16px;
        line-height: 1.19;
        text-align: center;
}

/* Стили подвала */

.page-footer {
        background-color: var(--primary-bgc);
}

.logo-foot {
        display: block;
        padding-top: 60px;
        margin-bottom: 20px;

        color: var(--secondary-color);

        font-family: 'Raleway';
        font-weight: 700;
        font-size: 26px;
        line-height: 1.19;
}

.logo-endfoot {
        color: var(--primary-color);
}

.contacts-foot {
        padding-bottom: 60px;

        font-style: normal;
}

.contact-first {
        color: var(--primary-color);
}

.contacts-foot .item + .item {
        margin-top: 9px;
}

.contacts-foot .link {
        color: rgba(255, 255, 255, 0.6);
}

.contacts-foot .link:hover,
.contacts-foot .link:focus {
        color: var(--secondary-color);
}

/* Стили портфолио */

/* Стили фильтров */

.btn {
        font-weight: 500;
        font-size: 16px;
        line-height: 1.63;
        text-align: center;
        cursor: pointer;
        color: var(--secondary-text-color);
        background-color: var(--secondary-bgc);
}

.btn:active, .btn:hover, .btn:focus {
        color: var(--primary-color);
        background-color: var(--secondary-color);
}

/* Стили проектов */

.projects {
        text-align: left;
        background-color: var(--primary-color);
}

.projects a {
        font-size: 16px;
        line-height: 1.88;
        color: var(--primary-text-color);
}

.project-title {
        font-weight: 700;
        font-size: 18px;
        line-height: 2.0;
        letter-spacing: 0.06em;
        color: var(--secondary-text-color);
}